#pre-header {
	text-align: left;
	margin-left: 1rem;
	margin-top: 3rem;
	margin-bottom: 0.3rem;

}

.purple {
	margin-top: 0;
	border: 3px solid purple;

}

.first-section {
	box-shadow: none !important;
}

.initial-page-buttons-container {
	display: flex;
	margin: auto;
	justify-content: center;
	margin-bottom: 2rem;
}

.initial-page-buttons-container a {
	font-size: 1rem;
}

.initial-page-buttons-container ul {
    margin: 1rem;
}

.first-content {
	display: flex;
	margin-top: 10rem;
	height: 30rem;
}

.first-content div {
    flex-basis: 100%;
}

.first-content h1 {
    /*margin: 0 auto 2rem auto;*/
    font-weight: 100;
    text-align: left;
	font-size: 2.5rem;
}	

#banner-left {
    margin-left: 2rem;
    margin-right: 1rem;
}

#banner-right {
	margin-left: 1rem;
    margin-right: 2rem;
    background-image: url("../../images/dutchtownlogoo.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
}

.inner {
	margin: 0 auto 0 auto !important;
	padding: 1rem !important;
}

.titles h2 {
	border-bottom: 2px solid black;
}



.gallery.style1 .button:hover {
	box-shadow: inset 0 0 0 1px #000000;
	color: #000000 !important;
}

.first-page-button {
	/*margin: auto;*/
	margin: 0 0.5rem 0 0.5rem;
	}

img {
	object-fit: contain !important;
}

.subsubheader {
	font-size: 3.5rem;
}

body {
	background-color: #FAF2FF;
}

#nelliepic {
	margin-right: 2rem;
}

#rachpic {
	margin-left: 2rem;
}

@media screen and (max-width: 768px) {
	.first-content  {
		height: 15rem;
		/*display: block;*/
	}

}



